div{
    margin:auto;
    width: 600px;
    margin-bottom: 20px;
}

label{
    display: block;
    width: 150px;
    float: left;
}

thead{
    background-color: #f39c12;
}

tbody{
    background-color: #3498db;
    color: white;
}

td,th{
    width: 100px;
    text-align: center;
    border: 1px solid white;
}

a{
    color: white;
}

.msg{
    background: #d35400;
    color: white;
    padding: 5px;
}